@import "../mixins";

.app__wrapper {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
